@use '../../styles/shared' as *;

.contact-page {
  background-color: $bg-0;
}

.contact-form-section {
  padding: 40px 0 100px;

  .contact-layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;

    @include desktop {
      grid-template-columns: 1fr 1fr;
      gap: 80px;
    }
  }
}
